*.o
*.trail
pan
pan.*
Src/spin
Src/y.tab.h
Src/y.tab.c
Src/y.output
Out/FloatArithmetic.output
Src/gmon.out
.vscode/targets.log
Test/Out/FloatArithmetic.output
.vscode/dryrun.log
.vscode/configurationCache.log
.gitignore
gmon.out
spin.h.nvr
